* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
}

#canvas {
    background-color: #515151;
}

#settingsDialog {
    width: 300px;
    padding: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#settingsDialog > article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#settingsDialog #settingsDialogHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#settingsDialog #settingsDialogBody {
    display: flex;
    flex-direction: column;
}

#settingsDialogOpenButton {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
}

.stackOption {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}